@import "../node_modules/bootstrap/scss/bootstrap";

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;

  a {
    text-decoration: none;
    color: currentColor;
  }
  a:hover {
    color: black;
  }

  .dropdown-toggle::after {
    content: none;
  }
  .fit-content {
    height: fit-content !important;
  }
  .vh-50 {
    height: 50vh !important;
  }
  .w-12_5 {
    width: 12.5% !important;
  }
  .w-40 {
    width: 40% !important;
  }
  .w-70 {
    width: 70% !important;
  }
  .h-40 {
    height: 40% !important;
  }
  .h-60 {
    height: 60% !important;
  }
  .h-80 {
    height: 80% !important;
  }
  .l-25 {
    left: 25% !important;
  }
  .text-green {
    color: #1b5b31;
  }
  .border-none {
    border: none !important;
  }
  .border-green {
    border: solid 1px #1b5b31 !important;
  }
  .bg-green {
    background-color: #1b5b31;
  }
  .bg-beige {
    background-color: #dcc1ab;
  }
  .bg-second {
    background-color: #f5f0ec;
  }
  .mt-6 {
    margin-top: 4rem !important;
  }
  .btn {
    font-size: 1.3rem !important;
  }

  .btn-white {
    --bs-btn-color: #1b5b31;
    --bs-btn-bg: white;
    --bs-btn-border-color: #1b5b31;
    --bs-btn-border-color: #1b5b31;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #393e46;
  }
  .btn-white:hover {
    box-shadow: inset 0 0 0 2em var(--bs-btn-hover-bg);
    transition: 0.5s;
    color: var(--bs-btn-hover-color);
    img {
      filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(78deg)
        brightness(105%) contrast(100%);
    }
  }
  .btn-transparent {
    --bs-btn-color: black;
    --bs-btn-bg: none;
    --bs-btn-border-color: black;
    --bs-btn-border-color: #393e46;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #393e46;
  }

  .btn-transparent:hover {
    box-shadow: inset 0 0 0 2em var(--bs-btn-hover-bg);
    transition: 0.5s;
    color: var(--bs-btn-hover-color);
    img {
      filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(78deg)
        brightness(105%) contrast(100%);
    }
  }

  .btn-beige {
    --bs-btn-color: #1b5b31;
    --bs-btn-bg: #dcc1ab;
    --bs-btn-border-color: #1b5b31;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #393e46;
  }
  .btn-beige:hover {
    box-shadow: inset 0 0 0 2em var(--bs-btn-hover-bg);
    transition: 0.5s;
    color: var(--bs-btn-hover-color);
    img {
      filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(78deg)
        brightness(105%) contrast(100%);
    }
  }
  .btn-green {
    --bs-btn-color: white;
    --bs-btn-bg: #1b5b31;
    --bs-btn-hover-color: white;
    --bs-btn-border-color: #1b5b31;
    --bs-btn-hover-bg: #393e46;
  }
  .btn-green:hover {
    box-shadow: inset 0 0 0 2em var(--bs-btn-hover-bg);
    transition: 1s;
    color: var(--bs-btn-hover-color);
  }
  .nav-bar-button {
    --bs-btn-color: black;
    --bs-btn-bg: white;
    --bs-btn-hover-color: white;
    --bs-btn-border-color: #393e46;
    --bs-btn-hover-bg: #393e46;
    justify-content: center;
  }
  .nav-bar-button:hover {
    animation: pulse 1s;
    box-shadow: 0 0 0 1em transparent;

    // color: var(--bs-btn-hover-color);
    // background-color: var(--bs-btn-hover-bg);
  }
  // .btn-green:hover {

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 var(--bs-btn-color);
    }
  }
}

//  ##################################################
//  XL STYLES
//  ##################################################
#welcomeContainer {
  position: relative;
  left: -100vw;
  .welcome_container_fluid_nav {
    height: 8%;
    font-size: 1.3rem;
    img {
      height: 1.3rem;
      width: 1.3rem;
    }
  }
  .welcome_container_fluid_content {
    height: 92%;
    h2 {
      font-size: 3.5rem;
      width: 75%;
    }
    p {
      font-size: 1.3rem;
    }
    img {
      height: 100%;
    }
    .swiper [class^="swiper-button-"] {
      top: initial;
      background-color: #f5f0ec;
      width: 15%;
      height: 10%;
      color: black;
      bottom: 0;
      background-position: center;
      background-image: url(../icons/arrowLeft.svg);
      background-repeat: no-repeat;
      background-size: 3rem;
    }
    .swiper {
      .swiper-button-next::after,
      .swiper-button-prev::after {
        content: "";
      }
      .swiper-button-prev {
        background-image: url(../icons/arrowLeft.svg);
        left: calc(70% + 2px);
      }
      .swiper-button-next {
        background-image: url(../icons/arrowRight.svg);
        background-repeat: no-repeat;
        background-size: 3rem;
        right: calc(0% - 1px);
        bottom: -1px;
      }
    }
    @media screen and (max-width: 1200px) {
      .swiper [class^="swiper-button-"] {
        top: initial;
        background-color: #f5f0ec;
        width: 15%;
        height: 10%;
        color: black;
        // bottom: %;

        background-position: center;
        background-image: url(../icons/arrowLeft.svg);
        background-repeat: no-repeat;
        background-size: 3rem;
      }
      .swiper {
        .swiper-button-next::after,
        .swiper-button-prev::after {
          content: "";
        }
        .swiper-button-prev {
          background-image: url(../icons/arrowLeft.svg);
          left: calc(35% + 1px);
          bottom: 0%;
        }
        .swiper-button-next {
          background-image: url(../icons/arrowRight.svg);
          right: calc(35% + 1px);
          bottom: 0%;
        }
      }
    }
  }
}
#offerContainer {
  position: relative;
  // opacity: 0;
  right: -100vw;
  h2 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  .offer_container_fluid_panels {
    .panel {
      padding-left: 5%;
      left: 5%;
      --bs-btn-hover-bg: #1b5b31;
      --bs-btn-hover-color: white;
      img {
        width: 3.5rem;
        height: 3.5rem;
      }
      .vector {
        width: 1.3rem;
      }
      a {
        color: #1b5b31;
        text-decoration: underline;
      }
    }
    .panel:hover {
      box-shadow: inset 0 0 0 25rem var(--bs-btn-hover-bg);
      transition: 0.25s;
      color: var(--bs-btn-hover-color);
      img {
        filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(78deg)
          brightness(105%) contrast(100%);
      }
      a {
        color: var(--bs-btn-hover-color);
        text-decoration: underline;
      }
    }
  }
}
#aboutContainer {
  position: relative;
  left: -100vw;

  .about_container {
    height: 100% !important;

    h2 {
      font-size: 4rem;
    }
    img {
      width: 2rem;
    }
    h5 {
      font-size: 1.3rem;
    }
    a {
      --bs-btn-color: white;
      --bs-btn-bg: #1b5b31;
      --bs-btn-hover-color: white;
      --bs-btn-border-color: #1b5b31;
      --bs-btn-hover-bg: #393e46;
      border: 1px solid white;
    }
  }
}
#endProductContainer {
  position: relative;
  right: -100vw;
  height: 100vh;
  overflow: hidden;
  .macy {
    img {
      width: 100%;
    }
  }
  img {
    width: 1rem;
  }
  .gradient_top {
    position: absolute;
    background-image: linear-gradient(
      to bottom,
      rgba(#dcc1ab, 0),
      rgba(#dcc1ab, 0.5)
    );
    height: 100%;
    width: 100%;
  }
}
#contactContainer {
  position: relative;
  left: -100vw;

  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.3rem;
  }
  #footer {
    //PLACEHOLDER
  }
}
//  ##################################################
//  SMALL STYLES
//  ##################################################
@media screen and (max-width: 1200px) {
  #welcomeContainer {
    height: auto !important;
    .welcome_container_fluid_content {
      h2 {
        font-size: 3rem;
        width: 100% !important;
        text-align: center;
      }
      p {
        font-size: 1rem;
        width: 100% !important;
      }
      h5 {
        width: 100%;
        align-self: center;
        font-size: 1rem;
      }
      .welcome_container_fluid_content_btn_row {
        width: 75% !important;
      }
    }
  }
  #offerContainer {
    height: 25% !important;
    h2 {
      font-size: 3rem;
      text-align: center;
      align-self: center;
    }
    h5 {
      font-size: 1rem;
      width: 100% !important;
    }
    p {
      font-size: 1.3rem;
      width: 75% !important;
      text-align: start;
    }
    .p_text {
      text-align: center;
    }
    .panel {
      align-items: center !important;
    }
  }
  #aboutContainer {
    height: auto !important;
    .about_container_fluid {
      h2 {
        font-size: 3rem;
        text-align: center;
      }
      h5 {
        font-size: 1.3rem;
      }
      a {
        font-size: 1.3rem;
        img {
          width: 1.3rem;
        }
      }
    }
  }
  #endProductContainer {
    h2 {
      text-align: center;
    }
    .macy {
      width: 75% !important;
    }
  }
  #contactContainer {
    //PLACEHOLDER
  }
  #footer {
    text-align: center !important;
  }
}
